@import url(../rsc/CabinModified/CabinModified.css);

* {
    margin: 0px;
    padding: 0px;
}

.join {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    gap: 8px;
}

.id {
    padding: 32px;
    background: rgba(0, 0, 0, 0.5);
    font-family: Cabin, sans-serif;
    font-size: 64px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.button {
    padding: 16px 64px;
    background: white;
    font-family: Cabin, sans-serif;
    font-size: 64px;
    color: black;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background: #eee;
}

.qr {
    height: 30vh;
    image-rendering: pixelated;
    border-radius: 2%;
}

.messages {
    margin: 8px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.messages>* {
    margin-top: 4px;
    background: #00000080;
    color: white;
    padding: 6px;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    animation: fade-in 0.5s ease, fade-out 1s ease 5s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

@keyframes fade-out {
    50% {
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        padding: 0px;
        height: 0px;
        opacity: 0;
    }
}