* {
    margin: 0px;
    padding: 0px;
}

.table {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table > * {
    height: 80%;
}