@import url("../rsc/CabinModified/CabinModified.css");

* {
    margin: 0px;
    padding: 0px;
}

.nameForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: min(max(40%, 500px), 100vw);
    font-family: 'Cabin', sans-serif;
    padding: 12px;
    gap: 6px;
    background: #eee;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 32px;
}

.buttonPanel {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.buttonPanel>* {
    aspect-ratio: 1;
    height: 12vh;
    background: #2228;
    border: 2px solid #000;
    border-radius: 8%;
    margin: 4px;
    padding: 1vh;
    cursor: pointer;
    transition: 0.5s;
}

.buttonPanel>*:hover {
    background: #222b;
}